<!-- <div>
  <h1 class="text-center" id="projects">Projects</h1>
  <p class="text-center">
    Below is a list of my notable projects. Have a look at my <a class="#" href="https://github.com/AAKASHKSHETTY" target="_blank">Github</a> Profile.
  </p>
  <div class="grid ">
    {% for project in site.data.projects %}
    <div class="g-col-12 g-col-md-6 text-center p-3 rounded shadow">
      <img class="img-fluid rounded" src="{{project.image}}" alt="{{project.description}}">
      <h3 class="my-3 text-capitalize">{{project.title}}</h3>
      <p>{{project.description}}</p>
      <div class="d-flex justify-content-center flex-wrap mb-3">
        {% for tech in project.technologies %}
        <span class="badge bg-secondary m-1">{{ tech }}</span>
        {% endfor %}
      </div>
      <a class="btn btn-success" href="{{project.code}}" target="_blank">Code</a>
    </div>
    {% endfor %}
  </div>

</div> -->

<script>
  function filterProjects(tech) {
    var projects = document.querySelectorAll('.project-item');

    projects.forEach(function(project) {
      var projectTechs = project.getAttribute('data-technologies').split(' ');

      if (tech === 'all' || projectTechs.includes(tech)) {
        project.style.display = 'block';
      } else {
        project.style.display = 'none';
      }
    });
  }
</script>

<div>
  <h1 class="text-center" id="projects">Projects</h1>
  <p class="text-center">
    Below is a list of my notable projects. Have a look at my <a class="#" href="https://github.com/AAKASHKSHETTY" target="_blank">Github</a> Profile.
  </p>

    <!-- Filter Section -->

    <div class="text-center mb-4">
      <button class="btn btn-outline-primary m-1" onclick="filterProjects('all')">All</button>
      {% assign all_technologies = '' %}
      {% for project in site.data.projects %}
        {% assign all_technologies = all_technologies | append: project.technologies | join: ',' | split: ',' | uniq %}
      {% endfor %}
      {% for tech in all_technologies %}
      <button class="btn btn-outline-secondary m-1" onclick="filterProjects('{{ tech }}')">{{ tech }}</button>
      {% endfor %}
    </div>


    <!-- Projects Grid -->

  <div class="grid ">
    {% for project in site.data.projects %}
    <div class="g-col-12 g-col-md-6 text-center p-3 rounded shadow"  data-technologies="{{ project.technologies | join: ' ' }}">
      <img class="img-fluid rounded" src="{{project.image}}" alt="{{project.description}}">
      <h3 class="my-3 text-capitalize">{{project.title}}</h3>
      <p>{{project.description}}</p>
      <div class="d-flex justify-content-center flex-wrap mb-3">
        {% for tech in project.technologies %}
        <span class="badge bg-secondary m-1">{{ tech }}</span>
        {% endfor %}
      </div>
      <a class="btn btn-success" href="{{project.code}}" target="_blank">Code</a>
    </div>
    {% endfor %}
  </div>

</div>